extends layout

block content
  h1= title

  - let imagesid = toShow._id
  - let images_name = toShow.images_name
  - let imagescost = toShow.cost
  - let imagessize = toShow.size

    div.row(class='mb-2')
        div.mr-1 ID is
            div #{imagesid}
            - let actionid = "/resource/images/update/" + imagesid
            form(id='imagesForm', action= actionid, method="PUT")
        div.form-group
            label.imagesAttr(for='images_name') images name 
            input#images_name(type='text', name='images_name', value= images_name )
        div.form-group
            label.imagesAttr(for='size') Costume size
            input#size(type='text', name='size', value= imagessize )
        div.form-group
            label.imagesAttr(for='cost') Costume cost
            input#cost(type='number', name='cost', value= imagescost )
            input(type="submit")
  script.
    document.forms['imagesForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
            alert("Update failed " + error )
        });
        });

